h1#lipud{
    position: absolute;
    top: 0px;
    left: 50%;
}
#eesti{
    width: 330px;
    height: 210px;
    border: 1px solid gray;
    border-collapse: collapse;
    position: absolute;
    top: 60px;
    left: 50%;
}
#eesti tr:nth-child(1){
    background-color: blue;
}
#eesti tr:nth-child(2){
    background-color: black;
    height: 70px;
}
#eesti tr:nth-child(3){
    background-color: white;
}
#rootsi{
    width: 330px;
    height: 210px;
    border: 1px solid gray;
    border-collapse: collapse;
    position: absolute;
    top: 310px;
    left: 50%;
}
#rootsi tr:nth-child(2) {
    background-color: gold;
    height: 50px;
}
#rootsi tr:nth-child(1) td:nth-child(1),
#rootsi tr:nth-child(3) td:nth-child(1){
    background-color: blue;
    width: 100px;
}
#rootsi tr:nth-child(1) td:nth-child(3),
#rootsi tr:nth-child(3) td:nth-child(3){
    background-color: blue;
    width: 175px;
}
#rootsi tr:nth-child(1) td:nth-child(2),
#rootsi tr:nth-child(3) td:nth-child(2){
    background-color: gold;
}
#prantsusmaa{
    width: 330px;
    height: 210px;
    border: 1px solid gray;
    border-collapse: collapse;
    position: absolute;
    top: 570px;
    left: 50%;
}
#prantsusmaa tr:nth-child(1) td:nth-child(1){
    background-color: darkblue;
}
#prantsusmaa tr:nth-child(1) td:nth-child(2){
    background-color: white;
    width: 110px;
}
#prantsusmaa tr:nth-child(1) td:nth-child(3){
    background-color: red;
}
#šveits{
    width: 330px;
    height: 210px;
    border: 1px solid gray;
    border-collapse: collapse;
    position: absolute;
    top: 820px;
    left: 50%;
}
#šveits tr:nth-child(1) td:nth-child(1){
    background-color: red;
}
#šveits tr:nth-child(2) td:nth-child(1){
    background-color: red;
}
#šveits tr:nth-child(2) td:nth-child(2){
    background-color: red;
}
#šveits tr:nth-child(2) td:nth-child(4){
    background-color: red;
}
#šveits tr:nth-child(2) td:nth-child(5){
    background-color: red;
}
#šveits tr:nth-child(3) td:nth-child(1){
    background-color: red;
}
#šveits tr:nth-child(4) td:nth-child(1){
    background-color: red;
}
#šveits tr:nth-child(4) td:nth-child(2){
    background-color: red;
}
#šveits tr:nth-child(4) td:nth-child(4){
    background-color: red;
}
#šveits tr:nth-child(4) td:nth-child(5){
    background-color: red;
}
#šveits tr:nth-child(5) td:nth-child(1){
    background-color: red;
}
#šveits tr:nth-child(3) td:nth-child(5){
    background-color: red;
}
#šveits tr:nth-child(3) td:nth-child(2){
    background-color: white;
    height: 40px;
}
#šveits tr:nth-child(2) td:nth-child(3){
    background-color: white;
    width: 50px;
}
#iseseisev{
    width: 330px;
    height: 210px;
    border: 1px solid gray;
    border-collapse: collapse;
}
#iseseisev tr:nth-child(1){
    background-color: red;
}
#iseseisev tr:nth-child(2) td:nth-child(1){
    background-color: blue;
}
#iseseisev tr:nth-child(2) td:nth-child(2){
    background-color: green;
}
#iseseisev tr:nth-child(5) td:nth-child(1){
    background-color: purple;
}
#iseseisev tr:nth-child(6) td:nth-child(1){
    background-color: orange;
}
#iseseisev tr:nth-child(2) td:nth-child(4){
    background-color: cyan;
}
#iseseisev tr:nth-child(2) td:nth-child(3){
    background-color: gray;
}
#iseseisev tr:nth-child(3) td:nth-child(1){
    background-color: yellow;
}
#iseseisev tr:nth-child(3) td:nth-child(2){
    background-color: gold;
}
#iseseisev tr:nth-child(4) td:nth-child(1){
    background-color: brown;
}
#iseseisev tr:nth-child(4) td:nth-child(2){
    background-color: burlywood;
}
#iseseisev tr:nth-child(3) td:nth-child(3){
    background-color: lightgreen;
}
